
.hide{
    opacity: 0;
    transition: opacity 1s;
}
.show{
    opacity: 1;
    transition: opacity 1s;
}

.importantTask{
    color: red;
}

.metaTask{
    display: inline-block;
    & > div:first-of-type{
        display: inline-block;
    }
}